* {
    margin: 0;
    overflow: hidden;
}

.Content {
    width: 98vw;
    height: 18%;
    margin: 20px 20px;
    display: flex;
}

img {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    opacity: 0.7;
}